@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eff5f6;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
h1 {
    font-family: inherit;
    margin: 0 0 0.75em 0;
    color: #728c8d;
    text-align: center;
}
.box {
    display: block;
    width: 150px;
    height: 175px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
.upload-options{
    position: relative;
    height: 60px;
    margin-top: -80px;
    background-color: #ff6f00;
    cursor: pointer;
    text-align: center;
    transition: background-color ease-in-out 150ms;
}
/*.upload-options {
    position: relative;
    height: 25px;
    background-color: cadetblue;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
    margin-top: 10px;
}*/
.upload-options:hover {
    background-color: #ff6311;
}
.upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.upload-options label span{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
    color: #fff;
}
/*.upload-options label::after {
    content: 'add';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2rem;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 2.5rem);
    left: calc(50% - 1.25rem);
    z-index: 0;
    margin-top:10px;
    margin-left: 2px;
}*/
.upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.upload-options label span:hover i.material-icons {
    color: lightgray;
}
.js--image-preview {
    height: 225px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('');
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.js--image-preview::after {
    content: "photo_size_select_actual";
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
}
.js--image-preview.js--no-default::after {
    display: none;
}
.js--image-preview:nth-child(2) {
    background-image: url('http://bastianandre.at/giphy.gif');
}
i.material-icons {
    transition: color 100ms ease-in-out;
    font-size: 2.25em;
    line-height: 55px;
    color: white;
    display: block;
}
.drop {
    display: block;
    position: absolute;
    background: rgba(95, 158, 160, 0.2);
    border-radius: 100%;
    transform: scale(0);
}
.animate {
    animation: ripple 0.4s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
.upload-card{
    background-color: #fff;
    width: 400px;
    height: auto;
    box-shadow: 0 14px 24px rgba(62, 57, 107, 0.1);
    border-radius: 3px;
}
.card-footer{
    background-color: rgba(0,0,0,.03);
    height: 40px;
    padding: .2rem 1.25rem;
}
.card-header{
    background-color: rgba(0,0,0,.03);
    height: 40px;
    padding: .2rem 1.25rem;
}
.card-footer input{
    float: right;
    margin-top: 10px;
    border: none;
    background-color: #222;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.card-footer input:hover{
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}
.card-header h5{
    font-weight: 800;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 15px;
}