.upload-box{
    background-color:white;
    
    border-radius: 5px;
}
.upload-box-container{
    margin: 0 auto;
    margin-top: 150px;
}
body{
    background-color: #eef5f9;
}
.card{
    box-shadow: 0 14px 24px rgba(62, 57, 107, 0.1);
    border-radius: 2px;
    width: 410px;
}
.img-box{
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 20px 0px 20px 20px;
    height: auto;
}
.img-box-header{
    height: 150px;
}
.img-box-header img{
    height: 150px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.img-box-footer{
    padding: 6px;
    text-align: center;
    border-top: 1px solid #222;
}
.fileContainer{
	background:#ff6f00;/* you can give it background img as well or any style you want*/
	width: 150px;
	font-size:16px;
	line-height: 31px;
	color:#434343;
	padding: 0px 41px 0 53px;
	margin: 20px auto 30px 30px;
    cursor: pointer !important;
    border-radius: 5px;
}
.fileContainer span{
	overflow:hidden;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
    cursor: pointer;
    color: white;
}
.fileContainer input[type="file"]{
	opacity:0;
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	position: absolute;
	cursor: pointer;
}
.col-md-pull-1{
    margin-left: -20px;
}
.card-footer input{
    float: right;
    cursor: pointer;
    /*background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);*/
    border: 1px solid #222;
    color: #222;
    padding: 3px 15px 3px 15px;
    border-radius: 3px;
}
.card-footer input:hover{
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    color: #fff;
    border: none;
    transition: all 0s;
}
.img-content-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    vertical-align: bottom;
}
.circle{
    border-radius: 50%;
    height:60px;
    width: 60px;
    border: 2px solid #888;
    padding: 16px 10px 10px 17px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.browse-select{
    color: #888;
    text-align: center;
    font-weight: bold;
}
.card-header{
    padding: .6rem 1.25rem;
    background-color: rgba(0,0,0,.03);
}
.card-header span{
    font-weight: 700;
    font-size: 15px;

}
.circle-close{
    float: right;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    right: 0;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.img-info .img-info-text{
    text-align:center;
    font-size: larger;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #ff6f00;
}
.img-info-text span{
    margin-right: 5px;
}
.img-resize{
    cursor: pointer;
    border: 1px solid #666;
    width: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    float: right !important;
    margin-right: 10px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 50px;
}
.img-resize span{
    margin-top: 10px;
    margin-left: 5px;
}
.img-resize:hover{
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    border:none;
    color: white;
    cursor: pointer;   
}
.img-resize:hover svg{
    stroke: #fff !important;
}
